/*Benefit part*/
.benefit-container{
	background-color:hsl(0, 0%, 75%, 0.3);
	padding:100px 15px 30px 15px
}
.title-container{
	display:flex;
	justify-content:center;
	align-items:center;
}
.card-container{
	display:flex;
	justify-content:space-evenly;
}
.card{
	background-color:white;
	height:200px;
	width:550px;
	margin:75px 25px 25px 25px;
	padding:70px 30px 30px 30px;
	border-radius:10px;
	position:relative;
}
.h1-benefit{
	font-size:24px;
	font-weight:bold;
	text-align:center;
}
.h2-benefit{
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
.p-benefit{
	font-size:15px;
    color:hsl(257, 7%, 63%);
	text-align:center;
	margin:15px;
}
.image-style{
	background-color:hsl(257, 27%, 26%);
	padding:20px;
	border-radius:50%;
	width:90px;
	height:90px;
	position:absolute;
	right:40%;
	bottom:160px;
	display:flex;
	justify-content:center;
	transform:translate(10px, 10px)
}
/*Rates part*/
.rates-container{
	background-color:white;
	padding:50px 100px;
}
.h1-rates{
	font-size:50px;
	margin:15px 0;
    color:hsl(257, 27%, 26%);
    font-weight: bold;
}
.p-rates-subtitle{
	font-size:15px;
	color:hsl(257, 27%, 26%);
	max-width:40ch;
}
.rate-card{
	width:500px;
	background-color:hsl(0,0%, 75%,0.3);
	padding:15px;
	border-radius:5px;
	margin:15px;
}
.flex-row{
	display:flex;
	flex-direction:row;
}
.star-container{
	padding:0 30px;
}
.star-distance{
	padding:0 5px;
}
.rate-card-text{
	font-size:15px;
	font-weight:bold;
	color:hsl(257, 27%, 26%);
}
/*Testimonial Part*/
.space-between{
	display:flex;
	justify-content:space-between;
}
.testimonial-card{
	background-color:hsl(257, 27%, 26%);
	margin:50px 0;
	padding:30px;
	border-radius:5px;
	max-width:32ch;
}
.testimonial-name{
	font-size:15px;
	font-weight:bold;
	color:white;
}
.testimonial-buyer{
	color:hsl(180, 66%, 49%);
	font-size:13px;
}
.testimonial-text{
	color:white;
	font-size:13px;
	padding:30px 0 0 0;
}
.testimonial-image{
	width:40px;
	height:40px;
	margin:0 20px 0 0;
	border-radius:50%;
}