.bodyStyle{
	font-family: Poppins;
	background-image: url('../images/bg-intro-desktop.png');
	background-color: hsl(257, 27%, 26%);	
}
.containerSignUp{ 
	width: 100%;
	padding: 50px;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;	
}
.clickableElem{
	cursor: pointer;
	text-decoration: none;
}
	
.backgd-color{
	background-color: hsl(180, 66%, 49%);
}
.colorRed{
	color: hsl(0, 87%, 67%);
}
.colorWhite{
	color: white;
}
.font-weight{
	font-weight: bold;
}
.textDescription{
	width: 500px;
	text-align: left;
	line-height: 1.5;
}
.biggerTextDescription{
	font-size: 40px;
}
.smallerTextDescription{
	font-size: 18px;
	margin-top: 20px;
}
.try-it-free{
	border-radius: 10px;
	padding: 20px 50px;
	font-size: 18px;
	box-shadow:0 1px 5px hsl(266deg 8% 14%);
}
.textBox-list{
	background-color: white;
	margin: 20px 0;
	padding: 15px;
	box-shadow:0 2px 10px 0 hsl(266deg 8% 14%);
	border-radius: 10px;	
}	
.fillingBox{
	width: 100%;
	height: 50px;
	font-size: 18px;
	margin: 20px 0;
	padding: 0 15px;
	border-radius: 5px;
	border: 1px solid hsl(0, 0%, 75%);
}
.signUpButton{
	border-radius: 5px;
	padding: 15px 0;
	font-size: 18px;
	margin-bottom: 15px;
	width: 100%;
}
.signUpButton:hover{
	opacity: 30%;
}
.bottomSignUpText{
	margin: 15px 0 ;
	font-size: 12px;
	text-align: center;
}
.termsAndService{
	margin: 15px 0 ;
	font-size: 12px;
}
.haveAnAccount{
	text-align: center;
	margin-top: 20px;
	font-size: 18px;	
}	
.signIn{
	text-align: center;	
}
.containerLogIn{
	width: 400px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.welcomeBack{
	text-align: center;
	border-radius: 10px;
	padding: 20px 50px;
	font-size: 18px;
	box-shadow: 0 1px 5px 0 hsl(266deg 8% 14%)
}
.logInButton{
	border-radius: 5px;
	padding: 15px 0;
	font-size: 18px;
	margin-bottom: 15px;
	width: 100%;
}
.logInButton:hover{
	opacity: 30%;
}
.inLineElements{
	display: flex;
	justify-content: space-between;
	font-size: 12px;
	margin-bottom: 20px;	
}
.checkBox{
	width: 10px;
	height: 10px;
}
.noAccount{
	text-align: center;
	margin-top: 20px;
	font-size: 18px;
}
.error{
	font-size: 12px;
	padding: 10px 0;
	display: none;
}
.widthheader {
	width: 100%;
}
.bodyfont{
	font-family:Poppins,font-awesome;
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
	.title-container, .card,.textandrates-container,.testimonial-card-container{
		width:100%;
  }
	.card-container,.textandrates-container,.testimonial-card-container{
		flex-direction:column;
		align-items:center;
	}
}
/*Benefit part*/
.benefit-container{
	background-color:hsl(0, 0%, 75%, 0.3);
	padding:100px 15px 30px 15px
}
.title-container{
	display:flex;
	justify-content:center;
	align-items:center;
}
.card-container{
	display:flex;
	justify-content:space-evenly;
}
.card{
	background-color:white;
	height:200px;
	width:550px;
	margin:75px 25px 25px 25px;
	padding:70px 30px 30px 30px;
	border-radius:10px;
	position:relative;
}
.h1-benefit{
	font-size:24px;
	font-weight:bold;
	text-align:center;
}
.h2-benefit{
	font-size:20px;
	font-weight:bold;
	text-align:center;
}
.p-benefit{
	font-size:15px;
    color:hsl(257, 7%, 63%);
	text-align:center;
	margin:15px;
}
.image-style{
	background-color:hsl(257, 27%, 26%);
	padding:20px;
	border-radius:50%;
	width:90px;
	height:90px;
	position:absolute;
	left:50%;
	top:0;
	display:flex;
	justify-content:center;
	transform:translate(-50%, -50%)
}
/*Rates part*/
.rates-container{
	background-color:white;
	padding:50px 100px;
}
.textandrates-container{
	display:flex;
	justify-content:center;
}
.h1-rates{
	font-size:50px;
	margin:15px 0;
    color:hsl(257, 27%, 26%);
    font-weight: bold;
}
.p-rates-subtitle{
	font-size:15px;
	color:hsl(257, 27%, 26%);
	max-width:40ch;
}
.rate-card{
	width:500px;
	background-color:hsl(0,0%, 75%,0.3);
	padding:15px;
	border-radius:5px;
	margin:15px;
}
.flex-row{
	display:flex;
	flex-direction:row;
}
.star-container{
	padding:0 30px;
}
.star-distance{
	padding:0 5px;
}
.rate-card-text{
	font-size:15px;
	font-weight:bold;
	color:hsl(257, 27%, 26%);
}
/*Testimonial Part*/
.testimonial-card-container{
	display:flex;
	justify-content:space-between;
}
.testimonial-card{
	background-color:hsl(257, 27%, 26%);
	margin:50px 15px;
	padding:30px;
	border-radius:5px;
	max-width:32ch;
}
.testimonial-name{
	font-size:15px;
	font-weight:bold;
	color:white;
}
.testimonial-buyer{
	color:hsl(180, 66%, 49%);
	font-size:13px;
}
.testimonial-text{
	color:white;
	font-size:13px;
	padding:30px 0 0 0;
}
.testimonial-image{
	width:40px;
	height:40px;
	margin:0 20px 0 0;
	border-radius:50%;
}
:root {
  --softRed: hsl(14, 88%, 65%);
  --veryDarkGrayBlue: hsl(237, 12%, 33%);
  --darkGrayBlue: hsl(240, 6%, 50%);
  --lightGrayBlue: hsl(240, 5%, 91%);
  --fontSize: 12px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize);
}



.wrapper {
  background: hsl(257, 27%, 26%);
  border-radius: 30px;
  border: 100px;
  padding: 20px;
  height: 509px;
  width: 1000px;
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 6rem;
  background-repeat: no-repeat;
  background-position: 1260% 65%;
  margin: 0;
  font-family: Poppins;
  height: 100vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.question-answer__accordion > .answer {
  display: none;
}

.active > .answer {
  display: block;
  padding-bottom: 1.3rem;
  color: white;
}

.active img {
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

.accordion__wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.questions__accordions {
  height: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.question-answer__accordion {
  width: 350px;
  border-bottom: 1px solid #e8e8ea;
  transition: 0.3s ease-out;
}
.title__accordion {
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
 
}

.title__question {
  font-weight: 400;
  font-size: 1.2rem;
  color: white;
  margin: 1.4rem 0rem;
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s;
}

.active h3 {
  font-weight: 700;
}

.question img {
  align-self: center;
}

.image__wrapper {
  position: relative;
}


.lady {
  position: absolute;
  top: 50px;
  bottom: 50px;
  right: 30px;
  height: 400px;
  width: 550px;
  
}

.footer-container {
	background-image: url(../images/bg-boost-mobile.svg);
	background-color: hsl(257, 27%, 26%);
	border: 100px;
    padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 15px;
	margin-right: 15px;
	max-width: 100%;
	text-align: center;
	font-family: Poppins;
	line-height: 500%
}

.button {
	text-align: center;
	font-family: Poppins;	
	padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 25px;
	background-color: hsl(180, 66%, 49%);
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	border-radius: 25%;
	border: none;
	color: white;
}

.button: hover {
	border: 1px solid;  
	border-color: hsl(180, 66%, 49%);
	background-color: white;
	
	
}

.bttm {
	text-align: center;
	font-family: Poppins;
	font-size: 24px;
	font-weight: bold;
	color:  white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsl(260, 8%, 14%);
  color: white;
  text-align: left;
  padding-top: 15px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-left: 50px; 
  justify-content: flex-start;
  box-sizing: border-box;
  flex-direction: row;
}  

.p1 {
  font-size: 30px;	
  color:  white;
  font-weight: bold;
  font-family: Poppins;
  box-sizing: border-box;
  display: flex-start;
 }
 
.p2 {
  font-size: 30px;	
  color: hsl(180, 66%, 49%);
  font-weight: bold;
  font-family: Poppins;
  display: flex-start;
}

.fa {
	font-size: 25px;
	cursor: pointer;
	padding-left: 10px;
	color:  white;
}

.social {
	display:  flex;
	justify-content: flex-end;
}	
	
